<div id="eminsoy_familyTreeD3Div" style="text-align: center;"></div>
<div id="eminsoy_familyTreeD3Div-2" style="text-align: center;"></div>

<style>
  #eminsoy_familyTreeD3Div svg {
    text-align: center;
  }
  #eminsoy_familyTreeD3Div path {
    fill: none;
    stroke: silver;
    stroke-width: 2;
  }
  rect {
    width: 80px;
    height: 40px;
    stroke: silver;
    fill: rgba(255, 255, 255, 0.75);
    stroke-width: 2;
  }
  text {
    dominant-baseline: middle;
    text-anchor: middle;
  }
  .bigger {
    font-size: 20px;
  }
  .hide {
    visibility: hidden;
  }
</style>

<script type="text/javascript">
// this is an ancestry/pedigree chart which uses cubic splines to connect nodes based on this lecture (https://www.youtube.com/watch?v=DvqeaVSe6Ko)


var svg = d3.select("#eminsoy_familyTreeD3Div").append("svg")
.attr("width", "100%").attr("height", 600)
.append("g").attr("transform", "translate(50,50)");

var data = [
{"child":"John", "parent":"", "spouse": "Isabella"},
{"child":"Aaron", "parent":"Kevin"},
{"child":"Kevin", "parent":"John", "spouse": "Emma"},
{"child":"Mark", "parent":"Ann"},
{"child":"Hannah", "parent":"Ann", "spouse": "Williams"},
{"child":"Rose", "parent":"Sarah"},
{"child":"Ann", "parent":"John", "spouse": "George"},
{"child":"Sarah", "parent":"Kevin", "spouse": "James"},
{"child":"Mark", "parent":"Ann"},
{"child":"Angel", "parent":"Sarah"},
{"child":"Tom", "parent":"Hannah"}];

var dataStructure = d3.stratify()
            .id(function(d){return d.child;})
            .parentId(function(d){return d.parent;})
            (data);

var treeWidth = 600, treeHeight = 350;
var treeStructure = d3.tree().size([treeWidth,treeHeight]);
var information = treeStructure(dataStructure);
console.log(information.descendants());
//console.log(information.links());

var connections_01 = svg.append("g").selectAll("path") //since the connections are created prior to the rectangles, they rank below them in order of layers.
        .data(information.links());

connections_01.enter().append("path")
.attr("d", function(d){
              /*return "M" + d.source.x + "," + d.source.y + " C " + d.source.x + "," + (d.source.y + d.target.y)/2 + " " + d.target.x + "," + (d.source.y + d.target.y)/2 + " " + d.target.x + "," + d.target.y;*/
              return "M" + (d.source.x-20) + "," + d.source.y + " C " + d.source.x + "," + (d.source.y + d.target.y)/2 + " " + d.target.x + "," + (d.source.y + d.target.y)/2 + " " + (d.target.x-20) + "," + d.target.y;
              /*return "M" + (d.source.x-20) + "," + d.source.y + "h 60 v 50 H" + d.target.x + " V"+ d.target.y;*/
              });

var connections_02 = svg.append("g").selectAll("path") //since the connections are created prior to the rectangles, they rank below them in order of layers.
        .data(information.links());

connections_02.enter().append("path")
.attr("d", function(d){
              return "M" + (d.source.x+40) + "," + d.source.y + "h 40"
              });

var rectangles = svg.append("g").selectAll("rect")
              .data(information.descendants());
              rectangles.enter().append("rect")
              .attr("x", function(d){return d.x-60;})
              .attr("y", function(d){return d.y-20;});

var spouseRectangles = svg.append("g").selectAll("rect")
              .data(information.descendants());
              rectangles.enter().append("rect")
              .attr("x", function(d){return d.x+60;})
              .attr("y", function(d){return d.y-20;})
              .classed("hide", function(d){
                if(d.data.spouse == undefined)
                  return true;
                else
                  return false;
              });

var names = svg.append("g").selectAll("text")
              .data(information.descendants());
names.enter().append("text")
              .text(function(d){return d.data.child;})
              .attr("x", function(d){return d.x-20;})
              .attr("y", function(d){return d.y;})
              /*.classed("bigger", true)*/;

var spouseNames = svg.append("g").selectAll("text")
              .data(information.descendants());
spouseNames.enter().append("text")
              .text(function(d){return d.data.spouse;})
              .attr("x", function(d){return d.x+100;})
              .attr("y", function(d){return d.y;})
              /*.classed("bigger", true)*/;

/*
// append the svg object to the body of the page

var svg = d3.select("#eminsoy_familyTree")
  .append("svg")
    .attr("width",  460)
    .attr("height",  460)
    .call(d3.zoom().on("zoom", function () {
       svg.attr("transform", d3.event.transform)
    }))
  .append("g")
*/

/*
svg
  .append("circle")
    .attr("cx", 300)
    .attr("cy", 300)
    .attr("r", 40)
    .style("fill", "#68b2a1")
*/

</script>

<!--
<script type="text/javascript">

  // this is an ancestry/pedigree chart which uses T-lines to connect nodes based on this lecture (https://www.youtube.com/watch?v=mXDpCTH8w88)

  var svg = d3.select("#eminsoy_familyTreeD3Div-2").append("svg")
              .attr("width", 1000).attr("height", 500)
              .append("g").attr("transform","translate(0,50)");

  var data = [{"child":"X", "parent":"Dad"},
              {"child":"X", "parent":"Mom"},
              {"child":"Dad", "parent":"Dad's Dad"},
              {"child":"Dad", "parent":"Dad's Mom"},
              {"child":"Mom", "parent":"Mom's Dad"},
              {"child":"Mom", "parent":"Mom's Mom"},
              {"child":null, "parent":"X"}];
  
  var dataStructure = d3.stratify()
                          .id(function(d) {return d.parent;})
                          .parentId(function(d) {return d.child;})(data);

  var treeWidth = 600, treeHeight = 300;
  var treeStructure = d3.tree()
                        .separation(function(a,b){
                          return a.parent == b.parent ? 5 : 4;
                        })
                        .size([treeWidth,treeHeight]);

  var information = treeStructure(dataStructure);

  console.log(information.descendants());
  console.log(information.links());

  var rectangles = svg.append("g").selectAll("rect")
                      .data(information.descendants());

  rectangles.enter().append("rect")
              .attr("x", function(d){return d.x;})
              .attr("y", function(d){return (treeHeight - d.y);})

  var names = svg.append("g").selectAll("text")
                  .data(information.descendants());
                  names.enter().append("text")
                  .text(function(d){return d.data.parent;})
                  .attr("x", function(d){return d.x+60;})
                  .attr("y", function(d){return (treeHeight - (d.y - 20));})
                  .classed("bigger", true)

</script>
-->