/**

 * Font Family: diatype Programm
 *
 * Font Styles:
 * 
 *
 *

*/

@font-face {
  font-family: 'newCM-10';
  src: url('NewComputerModern/NewCM10-Regular.otf') format('opentype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'newCM-10_italic';
  src: url('NewComputerModern/NewCM10-Italic.otf') format('opentype');
  font-display: swap;
  font-style: italic;
}