<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">

    <li><a href="https://gracell00l.github.io/prtflo/about/" title="Grace pinyin and Chinese"><img src="//images.weserv.nl/?url=https://github.com/KeanMGC/2021fall3yr-studio/blob/25ddd2c527b444af96eb69da5728de851d10b922/MME.jpg&amp;h=300&amp;output=jpg&amp;q=50&amp;t=square" alt="Grace pinyin and Chinese" title="Grace pinyin and Chinese" /><span>Grace pinyin and Chinese</span></a></li>

    <li><a href="https://kyle7914.github.io/2021Fall-studio/about/" title="Kyle pinyin and Chinese"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/sarry.jpg&amp;w=300&amp;h=300&amp;output=jpg&amp;q=50&amp;t=square" alt="Kyle pinyin and Chinese" title="Kyle pinyin and Chinese" /><span>Kyle pinyin and Chinese</span></a></li>

    <li><a href="" title="Seattle View"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/screenprint.jpg&amp;w=300&amp;h=300&amp;output=jpg&amp;q=50&amp;t=square" alt="Screenprinting Room" title="Screenprinting Room" /><span>Screenprinting Room</span></a></li>

    </ul>
