<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">

    <li><a href="https://gracell00l.github.io/prtflo/about/" title="Grace Yixuan Lin 林祎萱"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/2021fall3yr-studio/25ddd2c527b444af96eb69da5728de851d10b922/MME.jpg&amp;h=300&amp;output=jpg&amp;q=50&amp;t=square" alt="Grace Yixuan Lin 林祎萱" title="Grace Yixuan Lin 林祎萱" /><span>Grace Yixuan Lin 林祎萱</span></a></li>

    <li><a href="https://kyle7914.github.io/2021Fall-studio/about/" title="Kyle pinyin and Chinese"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/sarry.jpg&amp;w=300&amp;h=300&amp;output=jpg&amp;q=50&amp;t=square" alt="Kyle pinyin and Chinese" title="Kyle pinyin and Chinese" /><span>Kyle pinyin and Chinese</span></a></li>

    <li><a href="" title="Zheng Weihan"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/sarry.jpg&amp;w=300&amp;h=300&amp;output=jpg&amp;q=50&amp;t=square" alt="Zheng Weihan" title="Zheng Weihan" /><span>Zheng Weihan</span></a></li>

    <li><a href="https://sunbaiqianqian.github.io/SunBaiqianqian-Portfolio/" title="Sugar (Sun Baiqianqian) 孙柏芊芊"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/sarry.jpg&amp;w=300&amp;h=300&amp;output=jpg&amp;q=50&amp;t=square" alt="Sugar (Sun Baiqianqian) 孙柏芊芊" title="Sugar (Sun Baiqianqian) 孙柏芊芊" /><span>Sugar (Sun Baiqianqian) 孙柏芊芊</span></a></li>

    <li><a href="https://nancyuz.github.io/Nancy/about/" title="Nancy pinyin and Chinese"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/sarry.jpg&amp;w=300&amp;h=300&amp;output=jpg&amp;q=50&amp;t=square" alt="Nancy pinyin and Chinese" title="Nancy pinyin and Chinese" /><span>Nancy pinyin and Chinese</span></a></li>

    <li><a href="https://shipley-xinyuwang.github.io/3yr-Studio-Flexibility/about/" title="Shipley pinyin and Chinese"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/sarry.jpg&amp;w=300&amp;h=300&amp;output=jpg&amp;q=50&amp;t=square" alt="Shipley pinyin and Chinese" title="Shipley pinyin and Chinese" /><span>Shipley pinyin and Chinese</span></a></li>

    <li><a href="YOUR WEBSITE ADDRESS/about/" title="NAME pinyin and Chinese"><img src="//images.weserv.nl/?url=YOUR PHOTO ADDRESS&amp;w=300&amp;h=300&amp;output=jpg&amp;q=50&amp;t=square" alt="NAME pinyin and Chinese" title="NAME pinyin and Chinese" /><span>NAME pinyin and Chinese</span></a></li>

    </ul>
