<!-- Get yaml variables-->
{%- assign social = site.minima.social_links -%}


<aside class="aside-left"> <!--Content for class "asideLeft" Goes Here-->
  <div class="aside-left-container wrapper">
    <p class="p-name">
      {% if site.author.name -%}
        {{ site.author.name | escape }}
      {% endif -%}
    </p>
    <p>
      {{ site.author.bio | escape | markdownify }}
    </p>
    <address class="asideLeft__contact">
      <ul class="contact-list">
        <li>
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}" title={{ site.author.email }}>email</a></li>
          {%- endif %}
        </li>
        <li>
          <a rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" title="{{ social.twitter | escape }}">twitter</a>
        </li>
        <li>
          <a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}">github</a>
        </li>
        <li>
          <p class="feed-subscribe">
            <a href="{{ 'feed.xml' | relative_url }}">
              <span>Subscribe&ensp;</span>
              <svg class="svg-icon orange">
                <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
              </svg>
            </a>
          </p>
        </li>
      </ul>
    </address>
  </div>
</aside> <!-- End Aside -->