{% assign provider = site.comments.provider | default:"giscus" %}
{% if provider == "disqus" %}
  {% assign disqus = site.disqus | default:site.disqus_shortname %}
  {% if disqus %}
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}
{% elsif provider == "utterances" %}
  {% assign utterances = site.utterances %}
  {% if utterances.repo %}
    <script src="https://utteranc.es/client.js"
            repo={{ utterances.repo }}
            issue-term={{ utterances.issue-term }}
            label={{ utterances.label }}
            theme={{ utterances.theme }}
            crossorigin= "anonymous"
            async>
    </script>
  {% endif %}
{% elsif provider == "giscus" %}
  {% assign giscus = site.giscus %}
  {% if giscus.repo %}
    <script src="https://giscus.app/client.js"
            data-repo={{ giscus.repo }}
            data-repo-id={{ giscus.repo-id }}
            data-category={{ giscus.category }}
            data-category-id={{ giscus.category-id }}
            data-mapping={{ giscus.mapping }}
            data-reactions-enabled={{ giscus.reaction-enabled }}
            data-theme={{ giscus.theme }}
            crossorigin={{ giscus.crossorigin }}
            data-lang={{ giscus.lang }}
            async>
    </script>
  {% endif %}
{% endif %}
