<!-- the custom footer mostly loads all the necessary javascripts -->

<!-- call graphviz D3ize js -->
<script src={% link /assets/js/d3ize.js %}></script>

{%- include slider_scripts.html -%} <!-- checks to see if any sliders exist on the loaded page -->

{%- include katex.html -%} <!-- looks for divs with type='math/tex' and parses them through KaTeX -->

{% comment %}{%if page.div.class == 'mermaid' %}{% endif %}{% endcomment %}
<script>
  mermaid.initialize({ startOnLoad: true });
</script>

<!-- script to add header deep links. see; https://www.bryanbraun.com/anchorjs/ -->
<script>
  anchors.add();
</script>

