<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <!-- For live site re-add SEO tags -->
  <title>Iechyd Rhywiol, Atal Cenhedlu a Gofal HIV</title>
  <link rel="stylesheet" href="/assets/css/w3.css">
  <style>
header {
  height: 150px;
  padding: 20px;
}

.hlink {
  text-decoration: none;
}

main {
  min-height: Calc(100vh);
  padding: 10px;
}

footer {
  padding: 15px;
}

.jblock {
border-radius: 15px 50px 30px;
padding: 20px;
height: 150px;
width: auto;
max-width: 300px;
margin: 10px;
}


.emerald
{color:#fff;background-color:#2ecc71}
  </style>
</head>