<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            {% include social_links/email.html %}
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
            {% if site.dribbble_username %}{% include social_links/dribbble.html %}{% endif %}
            {% if site.facebook_username %}{% include social_links/facebook.html %}{% endif %}
            {% if site.flickr_username %}{% include social_links/flickr.html %}{% endif %}
            {% if site.github_username %}{% include social_links/github.html %}{% endif %}
            {% if site.instagram_username %}{% include social_links/instagram.html %}{% endif %}
            {% if site.linkedin_username %}{% include social_links/linkedin.html %}{% endif %}
            {% if site.pinterest_username %}{% include social_links/pinterest.html %}{% endif %}
            {% if site.twitter_username %}{% include social_links/twitter.html %}{% endif %}
            {% if site.stackoverflow_username %}{% include social_links/stackoverflow.html %}{% endif %}
            {% if site.youtube_username %}{% include social_links/youtube.html %}{% endif %}
            {% if site.googleplus_username %}{% include social_links/googleplus.html %}{% endif %}
            {% if site.rss %}{% include social_links/rss.html %}{% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
          <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
