<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>

<div class="sub-footer">
  <div id="skin-switch-container">
    Page rendered with the <select id="skin-switch" onchange="changeSkin()">
      {%- for skin in page.available_skins %}
      {% if skin == 'classic' -%}
      <option value="style.css">classic</option>
      {%- else -%}
      <option value="{{ skin }}.css">{{ skin }}</option>
      {%- endif %}
      {%- endfor %}
    </select> skin of Minima theme.
  </div>
</div>

<script>
  document.getElementById("skin-switch-container").style.display = "block";
  var metaTag = document.getElementById("stylesheet");
  var SSHref = metaTag.href;
  var SSName = (SSHref.substring(SSHref.lastIndexOf('/') + 1));

  document.getElementById("skin-switch").value = SSName;

  function changeSkin() {
    metaTag.href = SSHref.replace(SSName, event.target.value);
  }
</script>
