<!-- Fetch Graphviz-->
<script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
<script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>

<script>
  function d3ize(elem) {
    var par = elem.parentElement;
    /*d3.select(par).append('div').graphviz().renderDot(elem.innerText);*/
    d3.select(par).append('div').attr('class', 'graphviz-svg').graphviz().width(
  par.clientWidth - 3 * parseFloat(getComputedStyle(par).fontSize)
).renderDot(elem.innerText);
    d3.select(elem).style('display', 'none');
  }
  console.log(document.getElementsByClassName(".language-dot"));
  var dotelems = document.getElementsByClassName("language-dot");
  for (let elem of dotelems) {
    d3ize(elem);
  }
</script>