<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <span class="menu-icon">
        <svg width="18px" height="15px"><use xlink:href="{{ "assets/icons.svg" | relative_url }}#menu"></use></svg>
      </span>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
