<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | escape }} - jnx.wales</title>
  <link rel="stylesheet" href="/assets/css/w3.css">
  <style>
header {
  height: 120px;
}

main {
  min-height: Calc(100vh - 220px);
  padding: 15px;
}

footer {
  height: 100px;
  padding: 20px;

}

.brand {
  margin-left: 20px;
  margin-top: 10px;
}

.cym {
  padding-top: 35px;
  padding-right: 14px;
  }

#mainnav a {
  margin: 6px;
}
  </style>
</head>
