<div class="post__slider"> <!-- Start Project Slider container -->
  <div class="slider__container w3-content w3-display-container">
    <div class="slider__slides"> <!-- slider images go in this div -->
      <!-- {% for image in site.projects } -->
      <figure class="full-width">
        <a href="{{ site.baseurl }}/"><img class="slideIMG w3-image" alt="img" src="{{ site.baseurl }}/"></a><figcaption>img caption</figcaption>
      </figure>
    </div>
    <div class="slider__nav w3-container w3-xxxlarge w3-display-middle w3-text-gray"> <!-- navigation buttons go in this div-->
      <button class="w3-btn w3-left w3-hover-text-light-gray w3-border-0 w3-hover-none" onclick="plusDivs(-1)">❮</button>
      <button class="w3-btn w3-right w3-hover-text-light-gray w3-border-0 w3-hover-none" onclick="plusDivs(1)">❯</button>
    </div>
    <div class="slider__pagination w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle"> <!-- pagination rings go in this div-->
      <span class="w3-badge w3-border w3-transparent w3-hover-white navRing" onclick="currentDiv(x)"></span>
    </div>
  </div>
</div> <!-- End Project Slider container -->