<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">

    <li><a href="http://design.wku.edu.cn/" title="David Vardy"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/2021fall3yr-studio/master/assets/dvardy.jpg&amp;h=300&amp;output=jpg&amp;q=50&amp;t=square" alt="David Vardy" title="David Vardy" /><span>David Vardy</span></a></li>

    <li><a href="http://phi.archi/" title="R. Spencer Steenblik"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/2021fall3yr-studio/master/assets/20210510RSSbw.png&amp;w=300&amp;h=300&amp;output=jpg&amp;q=50&amp;t=square" alt="R. Spencer Steenblik" title="R. Spencer Steenblik" /><span>R. Spencer Steenblik</span></a></li>

    </ul>
