<span class="post-categories">{% if page.categories.size == 1 %}Category: {% else %}Categories: {% endif %}
  {% for category in page.categories %}
    {% if site.minima.archive_page.categories %}
      {% capture category_url %}{{ site.minima.archive_page.categories }}/{{ category | slugify }}/{% endcapture %}
      <a href="{{ category_url | relative_url }}">{{ category }}</a>
    {% else %}
      {{ category }}
    {% endif %}
    {% unless forloop.last %}, {% endunless %}
  {% endfor %}
</span>
