<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">

    <li><a href="https://sunbaiqianqian.github.io/SunBaiqianqian-Portfolio/" title="Home of My Ego"><img src="//images.weserv.nl/?url=https://github.com/SunBaiqianqian/SunBaiqianqian-Portfolio/blob/master/assets/selfie.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Digital Fabrication" title="Home of My Ego" /><span>Home of My Ego</span></a></li>

    <li><a href="https://gracell00l.github.io/prtflo/" title="Compact Urbanism"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/2021fall3yr-studio/25ddd2c527b444af96eb69da5728de851d10b922/MME.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Compact Urbanism" title="Compact Urbanism" /><span>Compact Urbanism</span></a></li>

    <li><a href="https://kyle7914.github.io/2021Fall-studio/" title="Glimmer: Case Study 01"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/woodshop.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Glimmer: Case Study 01" title="Glimmer: Case Study 01" /><span>Glimmer: Case Study 01</span></a></li>

    <li><a href="https://bellaaaaaaa216.github.io/portfolio/" title="Air Translater House"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/screenprint.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Air Translater House" title="Air Translater House" /><span>Air Translater House</span></a></li>

    <li><a href="https://nancyuz.github.io/Nancy/2021/09/12/Nancy-2021FallStudio.html" title="Plug-in House"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/screenprint.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Plug-in House" title="Plug-in House" /><span>Plug-in House</span></a></li>

    <li><a href="https://shipley-xinyuwang.github.io/3yr-Studio-Flexibility/" title="Flexibility"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/screenprint.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Flexibility" title="Flexibility" /><span>Flexibility</span></a></li>

    <li><a href="YOUR PROJECT ADDRESS/" title="PROJECT NAME"><img src="//images.weserv.nl/?url=YOUR PROJECT ADDRESS&w=300&h=300&output=jpg&q=50&fit=cover" alt="PROJECT NAME" title="PROJECT NAME" /><span>PROJECT NAME</span></a></li>

    <li><a href="YOUR PROJECT ADDRESS/" title="PROJECT NAME"><img src="//images.weserv.nl/?url=YOUR PROJECT ADDRESS&w=300&h=300&output=jpg&q=50&fit=cover" alt="PROJECT NAME" title="PROJECT NAME" /><span>PROJECT NAME</span></a></li>

    </ul>
