<ul class="social-media-list">
  {%- if site.dribbble_username -%}<li>{%- include icon-dribbble.html username = site.dribbble_username -%}</li>{%- endif -%}
  {%- if site.facebook_username -%}<li>{%- include icon-facebook.html username = site.facebook_username -%}</li>{%- endif -%}
  {%- if site.flickr_username -%}<li>{%- include icon-flickr.html username = site.flickr_username -%}</li>{%- endif -%}
  {%- if site.github_username -%}<li>{%- include icon-github.html username = site.github_username -%}</li>{%- endif -%}
  {%- if site.instagram_username -%}<li>{%- include icon-instagram.html username = site.instagram_username -%}</li>{%- endif -%}
  {%- if site.linkedin_username -%}<li>{%- include icon-linkedin.html username = site.linkedin_username -%}</li>{%- endif -%}
  {%- if site.pinterest_username -%}<li>{%- include icon-pinterest.html username = site.pinterest_username -%}</li>{%- endif -%}
  {%- for mastodon in site.mastodon -%}{%- if mastodon.username and mastodon.instance -%}<li>{%- include icon-mastodon.html username = mastodon.username instance = mastodon.instance -%}</li>{%- endif -%}{%- endfor -%}
  {%- if site.twitter_username -%}<li>{%- include icon-twitter.html username = site.twitter_username -%}</li>{%- endif -%}
  {%- if site.youtube_username -%}<li><a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg> <span class="username">{{ site.youtube_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.googleplus_username -%}<li><a href="https://plus.google.com/{{ site.googleplus_username| escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#googleplus' | relative_url }}"></use></svg> <span class="username">{{ site.googleplus_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.rss -%}<li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>{{ site.rss | escape }}</span></a></li>{%- endif -%}
</ul>
