<div class="tabswitcher">

  <a class="tab" href="index">
    <img class="tab-img" src="assets/work.png">
    <p class="tab-text">Work</p>
  </a>

  <a class="tab" href="about">
    <img class="tab-img tab-img-inactive" src="assets/about.png">
    <p class="tab-text">About</p>
  </a>

  <a class="tab" href="archive">
    <img class="tab-img tab-img-inactive" src="assets/writing.png">
    <p class="tab-text">Writing</p>
  </a>

  <a class="tab" href="now">
    <img class="tab-img tab-img-inactive" src="assets/now.png">
    <p class="tab-text">Now</p>
  </a>

</div>
