<div class="tabswitcher mobile-only">

  <a class="tab" href="about">
    <img class="{{ page.tab1 }}" src="assets/about.png">
    <p class="tab-text">About</p>
  </a>

  <a class="tab" href="index">
    <img class="{{ page.tab2 }}" src="assets/work.png">
    <p class="tab-text">Work</p>
  </a>

  <a class="tab" href="archive">
    <img class="{{ page.tab3 }}" src="assets/writing.png">
    <p class="tab-text">Writing</p>
  </a>

  <a class="tab" href="now">
    <img class="{{ page.tab4 }}" src="assets/now.png">
    <p class="tab-text">Now</p>
  </a>

</div>
