@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap'); // Define defaults for each variable.
$base-font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit: 16px !default;
$brand-color: #ff4343 !default;
$brand-color-darker: darken($brand-color, 90%) !default;
$brand-color-light: lighten($brand-color, 34%) !default; // $text-color:       #251938 !default;
// $text-color-light: desaturate(lighten($text-color, 20%), 10%) !default;
// $text-color-darker:desaturate(darken($text-color, 20%), 30%) !default;
$text-color: #d5c0fe;
$text-color-darker: #a391c7;
$text-color-light: #eadffe; // $background-color: desaturate(lighten(complement($brand-color), 34%), 60%) !default;
$background-color: #251938;
$foreground-color: rgba(0, 0, 0, 0.3);
$grey-color: lighten(desaturate($text-color, 50%), 12%) !default;
$grey-color-light: lighten(desaturate($grey-color, 40%), 65%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$orange-color: #f66a0a !default;
$red-color: #f86b6b !default;
$table-text-align: left !default; // Width of the content area
$content-width: 800px !default;
$on-palm: 600px !default;
$on-laptop: 800px !default;
$on-medium: $on-palm !default;
$on-large: $on-laptop !default; // Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
// Import partials.
@import "minima/base", "minima/type", "minima/layout", "minima/syntax-highlighting";
