@charset "UTF-8";
.highlight .err {
  color: #e3d2d2;
  background-color: #8c2121;
}
.highlight .c {
  color: #8a8a8a;
}
.highlight .c1 {
  color: #8a8a8a;
}
.highlight .cm {
  color: #8a8a8a;
}
.highlight .cp {
  color: #8a8a8a;
}
.highlight .cs {
  color: #8a8a8a;
  font-style: italic;
}
.highlight .gd {
  color: #d85a5a;
}
.highlight .gd .x {
  color: #d85a5a;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #4ec64e;
}
.highlight .gi .x {
  color: #4ec64e;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gr {
  color: #f07178;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  color: #f07178;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .k {
  color: #d85a7b;
}
.highlight .kc {
  color: #d85a7b;
}
.highlight .kd {
  color: #d85a7b;
}
.highlight .kp {
  color: #d85a7b;
}
.highlight .kr {
  color: #d85a7b;
}
.highlight .kt {
  color: #ffcb6b;
}
.highlight .n {
  color: #c7d1d8;
}
.highlight .na {
  color: #11a69f;
}
.highlight .nb {
  color: #d85a7b;
}
.highlight .bp {
  color: #999999;
}
.highlight .nc {
  color: #11a69f;
}
.highlight .ne {
  color: #990000;
}
.highlight .nf {
  color: #5ab780;
}
.highlight .ni {
  color: #11a69f;
}
.highlight .nn {
  color: #11a69f;
}
.highlight .no {
  color: #9d99e6;
}
.highlight .nt {
  color: #de3581;
}
.highlight .nv {
  color: #9680b1;
}
.highlight .vc {
  color: #9680b1;
}
.highlight .vg {
  color: #9680b1;
}
.highlight .vi {
  color: #9680b1;
}
.highlight .o {
  color: #bcd890;
}
.highlight .ow {
  color: #bcd890;
}
.highlight .m {
  color: #9d99e6;
}
.highlight .mf {
  color: #9d99e6;
}
.highlight .mh {
  color: #9d99e6;
}
.highlight .mi {
  color: #9d99e6;
}
.highlight .il {
  color: #9d99e6;
}
.highlight .mo {
  color: #9d99e6;
}
.highlight .s {
  color: #baa94a;
}
.highlight .s1 {
  color: #baa94a;
}
.highlight .s2 {
  color: #baa94a;
}
.highlight .sb {
  color: #baa94a;
}
.highlight .sc {
  color: #baa94a;
}
.highlight .sd {
  color: #baa94a;
}
.highlight .se {
  color: #baa94a;
}
.highlight .sh {
  color: #baa94a;
}
.highlight .si {
  color: #baa94a;
}
.highlight .sr {
  color: #009926;
}
.highlight .ss {
  color: #3c90f5;
}
.highlight .sx {
  color: #baa94a;
}
.highlight .w {
  color: #eeffff;
}
.highlight .lineno, .highlight .gl {
  color: #8a8a8a;
}

html {
  font-size: 16px;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  color: #959595;
  background-color: #181818;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
div.highlight,
figure.highlight {
  margin-bottom: 15px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  color: #bbbbbb;
  font-weight: 500;
}

/**
 * Links
 */
a {
  color: #79b8ff;
  text-decoration: none;
}
a:visited {
  color: #79b8ff;
}
a:hover {
  color: #959595;
  text-decoration: underline #999999;
  text-underline-offset: 3px;
}
.social-media-list a:hover, .pagination a:hover {
  text-decoration: none;
}
.social-media-list a:hover .username, .pagination a:hover .username {
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: #999999;
  border-left: 4px solid #2b2b2b;
  padding-left: 15px;
  font-size: 1.05rem;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}
blockquote i, blockquote em {
  font-style: normal;
}

/**
 * Code formatting
 */
pre,
code {
  font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
  background-color: #222222;
}
@media screen and (max-width: 600px) {
  pre,
  code {
    font-family: monospace;
  }
}

pre {
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.4;
  color: #bbbbbb;
  overflow-x: auto;
}
pre > code {
  display: inline-block;
  width: 100%;
}

div.highlight, figure.highlight {
  border: 1px solid #2b2b2b;
  border-radius: 3px;
}
div.highlight pre, figure.highlight pre {
  margin: 0;
}
div.highlight table, div.highlight tbody, div.highlight th, div.highlight tr, div.highlight td, figure.highlight table, figure.highlight tbody, figure.highlight th, figure.highlight tr, figure.highlight td {
  margin: 0;
  padding: 0;
  border: 0;
}

figure.highlight > pre {
  padding: 5px 0 0;
}
figure.highlight td.gutter {
  border-right: 1px solid #2b2b2b;
}
figure.highlight td.code {
  width: 100%;
}

code.highlighter-rouge {
  padding: 1px 5px;
  font-size: 14px;
  border: 1px solid #2b2b2b;
  border-radius: 3px;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 600px) {
  .wrapper {
    padding-right: 18px;
    padding-left: 18px;
  }
}

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.orange {
  color: #f66a0a;
}

.grey {
  color: #828282;
}

.svg-icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
  overflow: visible;
}

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #959595;
  border-collapse: collapse;
  border: 1px solid #2b2b2b;
}
table tr:nth-child(even) {
  background-color: #222222;
}
table th, table td {
  padding: 10px 15px;
}
table th {
  background-color: #323232;
  border: 1px solid #3e3e3e;
}
table td {
  border: 1px solid #2b2b2b;
}
@media screen and (max-width: 800px) {
  table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

/**
 * Site header
 */
.site-header {
  position: relative;
  width: 100%;
  min-height: 55.95px;
  line-height: 54px;
  background-color: #181818;
  border-top: 5px solid #999999;
  border-bottom: 1px solid #2b2b2b;
}

.site-title {
  font-size: 1.625rem;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
@media screen and (max-width: 600px) {
  .site-title {
    padding-right: 45px;
  }
}
.site-title, .site-title:visited {
  color: #a6a6a6;
}

.site-nav {
  float: right;
  border: none;
  background-color: inherit;
}
.site-nav label[for=nav-trigger], .site-nav #nav-trigger {
  display: none;
}
.site-nav .nav-item {
  color: #959595;
}
.site-nav .nav-item:not(:last-child) {
  margin-right: 15px;
}
@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 18px;
    background-color: #181818;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    text-align: right;
  }
  .site-nav label[for=nav-trigger] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
  .site-nav .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 18px;
    text-align: center;
  }
  .site-nav .menu-icon::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
  }
  .site-nav .menu-icon > svg path {
    fill: #999999;
  }
  .site-nav #nav-trigger ~ label[for=nav-trigger] .menu-icon::before {
    content: "\f0c9";
    font-size: 1.25em;
  }
  .site-nav #nav-trigger ~ .nav-items {
    clear: both;
    display: none;
  }
  .site-nav #nav-trigger:checked ~ label[for=nav-trigger] .menu-icon::before {
    content: "\f00d";
    font-size: 1.5em;
  }
  .site-nav #nav-trigger:checked ~ .nav-items {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav #nav-trigger:checked ~ .nav-items .nav-item {
    margin-left: 20px;
    padding: 5px 10px;
  }
  .site-nav .nav-item {
    display: block;
    padding: 5px 0;
    color: #959595;
    line-height: 1.5;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #2b2b2b;
  padding: 30px 0;
}

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0;
}

.contact-list,
.social-media-list,
.pagination {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  font-size: 0.9375rem;
  color: #999999;
}

.footer-col {
  margin-bottom: 15px;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (30px / 2));
}

.footer-col-3 {
  width: calc(100% - (30px / 2));
}

@media screen and (min-width: 800px) {
  .footer-col-1 {
    width: calc(35% - (30px / 2));
  }
  .footer-col-2 {
    width: calc(20% - (30px / 2));
  }
  .footer-col-3 {
    width: calc(45% - (30px / 2));
  }
}
@media screen and (min-width: 600px) {
  .footer-col-wrapper {
    display: flex;
  }
  .footer-col {
    width: calc(100% - (30px / 2));
    padding: 0 15px;
  }
  .footer-col:first-child {
    padding-right: 15px;
    padding-left: 0;
  }
  .footer-col:last-child {
    padding-right: 0;
    padding-left: 15px;
  }
}
/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1 0 auto;
}

.page-heading {
  font-size: 2rem;
}

.post-list-heading {
  font-size: 1.75rem;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: #999999;
}

.post-link {
  display: block;
  font-size: 1.5rem;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
  padding-bottom: 18px;
  text-align: center;
  border-bottom: 1px solid #2b2b2b;
}

.post-meta .bullet-divider {
  padding-inline: 15px;
}
.post-meta .meta-label {
  font-weight: 600;
}
.post-meta .force-inline {
  display: inline;
}
.post-meta .force-inline::before {
  content: "•";
  padding-inline: 5px;
}
.post-meta .post-authors {
  margin-top: 3px;
}

.post-title,
.post-content h1 {
  margin-bottom: 10px;
  font-size: 2.625rem;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.15;
}
@media screen and (min-width: 800px) {
  .post-title,
  .post-content h1 {
    font-size: 2.625rem;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  margin-top: 30px;
}
.post-content h2 {
  font-size: 1.75rem;
}
@media screen and (min-width: 800px) {
  .post-content h2 {
    font-size: 2rem;
  }
}
.post-content h3 {
  font-size: 1.375rem;
}
@media screen and (min-width: 800px) {
  .post-content h3 {
    font-size: 1.625rem;
  }
}
.post-content h4 {
  font-size: 1.25rem;
}
.post-content h5 {
  font-size: 1.125rem;
}
.post-content h6 {
  font-size: 1.0625rem;
}

.comments-disabled-message {
  text-align: center;
  font-weight: 300;
}

.social-media-list, .pagination {
  display: table;
  margin: 0 auto;
}
.social-media-list li, .pagination li {
  float: left;
  min-width: 45px;
  min-height: 45px;
  text-align: center;
  margin: 5px 10px 5px 0;
}
.social-media-list li:last-of-type, .pagination li:last-of-type {
  margin-right: 0;
}
.social-media-list li a, .pagination li a {
  display: block;
  padding: 10px 12px;
  border: 1px solid #2b2b2b;
}
.social-media-list li a:hover, .pagination li a:hover {
  border-color: #a6a6a6;
}

/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: 30px;
}
.pagination li a, .pagination li div {
  min-width: 41px;
  text-align: center;
  box-sizing: border-box;
}
.pagination li div {
  display: block;
  padding: 7.5px;
  border: 1px solid transparent;
}
.pagination li div.pager-edge {
  color: #2b2b2b;
  border: 1px dashed;
}

/**
 * Task-lists
 */
.task-list {
  margin-left: 0;
  padding-left: 18px;
}

.task-list-item {
  list-style-type: none;
}
.task-list-item-checkbox {
  position: relative;
  margin-right: 9px;
  margin-left: -15px;
  appearance: none;
  border: 8px solid #2b2b2b;
  vertical-align: text-top;
  z-index: -1;
}
.task-list-item-checkbox::after {
  position: absolute;
  top: -8px;
  left: -3px;
  width: 4px;
  height: 10px;
  content: "";
  border: solid transparent;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.task-list-item-checkbox:checked::after {
  border-color: #999999;
}

/**
 * Grid helpers
 */
@media screen and (min-width: 800px) {
  .one-half {
    width: calc(50% - (30px / 2));
  }
}
.site-footer {
  padding-bottom: 120px;
  transition: padding-bottom 0.5s;
}
.site-footer + .sub-footer {
  height: 80px;
  transition: height 0.5s;
}
.site-footer + .sub-footer .sf-toggle-icon {
  --icon-code: "↑" ;
}
.site-footer.sub-footer-hidden {
  padding-bottom: 60px;
  transition: padding-bottom 0.5s;
}
.site-footer.sub-footer-hidden + .sub-footer {
  height: 15px;
  transition: height 0.5s;
}
.site-footer.sub-footer-hidden + .sub-footer .sf-toggle-icon {
  --icon-code: "↓" ;
}

.sub-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #2b2b2b;
}
.sub-footer #sf-toggle {
  position: absolute;
  display: table;
  margin: -21px auto;
  top: 1px;
  left: 0;
  right: 0;
  border: 21px solid #323232;
  cursor: pointer;
  transform: rotate(45deg);
  z-index: 10;
}
.sub-footer #sf-toggle .sf-toggle-icon {
  display: table;
  font-family: auto;
  font-size: 1.25em;
  line-height: 0.05em;
}
.sub-footer #sf-toggle .sf-toggle-icon::before {
  position: absolute;
  top: -7px;
  left: -11px;
  content: var(--icon-code);
  transform: rotate(135deg);
}

#skin-switch-container {
  position: relative;
  display: none;
  margin-left: -4px;
  padding: 15px;
  text-align: center;
  font-size: 0.8rem;
  z-index: 15;
}
#skin-switch-container select {
  margin: 0 2px;
  padding: 5px 2px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 5px;
  border-color: #3e3e3e;
  cursor: pointer;
}
#skin-switch-container select:focus-visible {
  outline: none;
}

.sub-footer, .sub-footer select {
  color: #999999;
  background: #323232;
}

/*# sourceMappingURL=dark.css.map */