---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima-jamesalfei/skins/{{ site.minima-jamesalfei.skin | default: 'classic' }}",
  "minima-jamesalfei/initialize";
