@charset "UTF-8";
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}

html {
  font-size: 16px;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  color: #111111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: #1756a9;
}
a:hover {
  color: #111111;
  text-decoration: underline #828282;
  text-underline-offset: 3px;
}
.social-media-list a:hover, .pagination a:hover {
  text-decoration: none;
}
.social-media-list a:hover .username, .pagination a:hover .username {
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 1.125rem;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}
blockquote i, blockquote em {
  font-style: normal;
}

/**
 * Code formatting
 */
pre,
code {
  font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
  font-size: 0.9375em;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eeeeff;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.highlight {
  border-radius: 3px;
  background: #eeeeff;
}
.highlighter-rouge .highlight {
  background: #eeeeff;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px;
}

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.orange {
  color: #f66a0a;
}

.grey {
  color: #828282;
}

.svg-icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
  overflow: visible;
}

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}
table tr:nth-child(even) {
  background-color: #f7f7f7;
}
table th, table td {
  padding: 10px 15px;
}
table th {
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
}
table td {
  border: 1px solid #e8e8e8;
}
@media screen and (max-width: 800px) {
  table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

/**
 * Site header
 */
.site-header {
  position: fixed;
  width: 100%;
  min-height: 55.95px;
  line-height: 54px;
  background-color: #fdfdfd;
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
}

.site-title {
  font-size: 1.625rem;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
@media screen and (max-width: 600px) {
  .site-title {
    padding-right: 45px;
  }
}
.site-title, .site-title:visited {
  color: #424242;
}

.site-nav {
  position: absolute;
  top: 9px;
  right: 15px;
  background-color: #fdfdfd;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  text-align: right;
}
.site-nav .nav-trigger, .site-nav .slab {
  display: none;
}
.site-nav .menu-icon {
  float: right;
  width: 36px;
  height: 26px;
  line-height: 0;
  padding-top: 18px;
  text-align: center;
}
.site-nav .menu-icon > svg path {
  fill: #424242;
}
.site-nav label[for=nav-trigger] {
  display: block;
  float: right;
  width: 36px;
  height: 36px;
  z-index: 2;
  cursor: pointer;
}
.site-nav #nav-trigger ~ .drawer-container {
  position: absolute;
  top: 47px;
  right: -16px;
  clear: both;
  width: 0;
  height: calc(100vh - 60px);
  transition: width 1s;
  overflow: hidden;
  background-color: #fdfdfd;
  border-left: 1px solid;
  border-left-color: transparent;
}
.site-nav #nav-trigger ~ .drawer-container .drawer {
  opacity: 0;
}
.site-nav #nav-trigger:checked ~ .drawer-container {
  width: 180px;
  padding-bottom: 5px;
  transition: width 1s;
  overflow: auto;
  border-left-color: #e8e8e8;
}
.site-nav #nav-trigger:checked ~ .drawer-container .drawer {
  padding: 15px;
  opacity: 1;
  transition: opacity 2s;
}
.site-nav .nav-item {
  display: block;
  padding: 5px 0;
  color: #111111;
  line-height: 1.5;
}
@media screen and (min-width: 600px) {
  .site-nav {
    position: static;
    float: right;
    border: none;
    background-color: inherit;
  }
  .site-nav .drawer-container,
  .site-nav .menu-icon,
  .site-nav label[for=nav-trigger] {
    display: none;
  }
  .site-nav .slab {
    display: block;
    padding-top: 1px;
  }
  .site-nav .nav-item {
    display: inline;
    padding: 0;
    margin-left: auto;
  }
  .site-nav .nav-item:not(:last-child) {
    margin-right: 15px;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0;
}

.contact-list,
.social-media-list,
.pagination {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  font-size: 0.9375rem;
  color: #828282;
}

.footer-col {
  margin-bottom: 15px;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (30px / 2));
}

.footer-col-3 {
  width: calc(100% - (30px / 2));
}

@media screen and (min-width: 800px) {
  .footer-col-1 {
    width: calc(35% - (30px / 2));
  }
  .footer-col-2 {
    width: calc(20% - (30px / 2));
  }
  .footer-col-3 {
    width: calc(45% - (30px / 2));
  }
}
@media screen and (min-width: 600px) {
  .footer-col-wrapper {
    display: flex;
  }
  .footer-col {
    width: calc(100% - (30px / 2));
    padding: 0 15px;
  }
  .footer-col:first-child {
    padding-right: 15px;
    padding-left: 0;
  }
  .footer-col:last-child {
    padding-right: 0;
    padding-left: 15px;
  }
}
/**
 * Page content
 */
.page-content {
  padding-top: 90px;
  padding-inline: 0;
  padding-bottom: 30px;
  flex: 1 0 auto;
}

.page-heading {
  font-size: 2rem;
}

.post-list-heading {
  font-size: 1.75rem;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-link {
  display: block;
  font-size: 1.5rem;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
  padding-bottom: 18px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
}

.post-meta .bullet-divider {
  padding-inline: 15px;
}
.post-meta .meta-label {
  font-weight: 600;
}
.post-meta .force-inline {
  display: inline;
}
.post-meta .force-inline::before {
  content: "•";
  padding-inline: 5px;
}
.post-meta .post-authors {
  margin-top: 3px;
}

.post-title,
.post-content h1 {
  margin-bottom: 10px;
  font-size: 2.625rem;
  letter-spacing: -1px;
  line-height: 1.15;
}
@media screen and (min-width: 800px) {
  .post-title,
  .post-content h1 {
    font-size: 2.625rem;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  margin-top: 30px;
}
.post-content h2 {
  font-size: 1.75rem;
}
@media screen and (min-width: 800px) {
  .post-content h2 {
    font-size: 2rem;
  }
}
.post-content h3 {
  font-size: 1.375rem;
}
@media screen and (min-width: 800px) {
  .post-content h3 {
    font-size: 1.625rem;
  }
}
.post-content h4 {
  font-size: 1.25rem;
}
.post-content h5 {
  font-size: 1.125rem;
}
.post-content h6 {
  font-size: 1.0625rem;
}

.social-media-list, .pagination {
  display: table;
  margin: 0 auto;
}
.social-media-list li, .pagination li {
  float: left;
  min-width: 45px;
  min-height: 45px;
  text-align: center;
  margin: 5px 10px 5px 0;
}
.social-media-list li:last-of-type, .pagination li:last-of-type {
  margin-right: 0;
}
.social-media-list li a, .pagination li a {
  display: block;
  padding: 10px 12px;
  border: 1px solid #e8e8e8;
}
.social-media-list li a:hover, .pagination li a:hover {
  border-color: #dbdbdb;
}

/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: 30px;
}
.pagination li a, .pagination li div {
  min-width: 41px;
  text-align: center;
  box-sizing: border-box;
}
.pagination li div {
  display: block;
  padding: 7.5px;
  border: 1px solid transparent;
}
.pagination li div.pager-edge {
  color: #e8e8e8;
  border: 1px dashed;
}

/**
 * Grid helpers
 */
@media screen and (min-width: 800px) {
  .one-half {
    width: calc(50% - (30px / 2));
  }
}
.site-footer {
  padding-bottom: 110px;
}

.sub-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.sub-footer::before {
  position: absolute;
  display: table;
  margin: -60px auto;
  top: 1px;
  left: 0;
  right: 0;
  content: "";
  border: 30px solid;
  cursor: pointer;
}

#skin-switch-container {
  display: none;
  margin-left: -4px;
  padding: 15px;
  text-align: center;
  font-size: 0.8rem;
}
#skin-switch-container select {
  margin: 0 2px;
  padding: 5px 2px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 5px;
  border-color: #3a3d42;
}
#skin-switch-container select:focus-visible {
  outline: none;
}

.sub-footer, .sub-footer select {
  color: #999999;
  background: #2a2d30;
}
.sub-footer::before, .sub-footer select::before {
  border-color: transparent transparent #2a2d30;
}

/*# sourceMappingURL=style.css.map */