<!--
<script type="text/javascript">
var g = new Dracula.Graph();

g.addEdge("strawberry", "cherry");
g.addEdge("strawberry", "apple");
g.addEdge("strawberry", "tomato");

g.addEdge("tomato", "apple");
g.addEdge("tomato", "kiwi");

g.addEdge("cherry", "apple");
g.addEdge("cherry", "kiwi");

var layouter = new Dracula.Layout.Spring(g);
layouter.layout();

var renderer = new Dracula.Renderer.Raphael('canvas', g, 400, 300);
renderer.draw();
</script>
-->

<!--
<div id="canvas" style="text-align: center;" width="100%" height="500"></div>
-->

<script type="text/javascript">
window.onload = function () {

var g = new Dracula.Graph();

//let box = document.querySelector('#canvas');
let box = document.getElementById('canvas');
let width = canvas.clientWidth;
let height = canvas.clientHeight;

/* add a simple node */
g.addNode('strawberry');
g.addNode('cherry');

/* add a node with a customized label */
g.addNode('id34', { label: 'Tomato' });

/* Advanced node example: Add a node with a customized shape
 * (the Raphael graph drawing implementation can draw this shape, please
 * consult the RaphaelJS reference for details http://raphaeljs.com/)
 * Note: Here's the place for even more tweaking! */

/* First: Write a custom node render function. <em>*/
var render = (r, n) => {
  //</em> the Raphael set is obligatory, containing all you want to display <em>/
  var set = r.set().push(
    //</em> custom objects go here <em>/
    r.rect(n.point[0] - 30, n.point[1] - 13, 62, 86)
      .attr({ fill: '#fa8', 'stroke-width': 2, r: '9px'}))
      .push(r.text(n.point[0], n.point[1] + 30, n.label)
      .attr({ 'font-size': '20px' }));
    //</em> custom tooltip attached to the set */
    set.items.forEach((el) => {
      el.tooltip(r.set().push(r.rect(0, 0, 30, 30)
        .attr({
          fill: '#fec', 'stroke-width': 1, r: '9px'
        })
      ));
    });
    return set;
  };

g.addNode('id35', {
  label: 'meat\nand\ngreed' ,
  /* filling the shape with a color makes it easier to be dragged */
  render: render
});

/* connect nodes with edges */
g.addEdge('strawberry', 'cherry');
g.addEdge('cherry', 'apple');

/* a directed connection, using an arrow */
g.addEdge('id34', 'cherry', { directed : true } );

/* customize the colors of that edge */
g.addEdge('id35', 'apple', {
  style: {
    stroke: '#bfa',
    fill: '#56f',
    label: 'Label'
  }
});

/* add an unknown node implicitly by adding an edge */
g.addEdge('strawberry', 'apple');

/* layout the graph using the Spring layout implementation */
var layouter = new Dracula.Layout.Spring(g);
layouter.layout();

/* draw the graph using the RaphaelJS draw implementation */
var renderer = new Dracula.Renderer.Raphael(document.getElementById('canvas'), g, width, height);
renderer.draw();

redraw = function() {
                    layouter.layout();
                    renderer.draw();
                    };
};
</script>

<div>
  <button id="redraw" onclick="redraw();">redraw</button>
</div>