<script>
  window.onload = function() {
    let box = document.getElementById('canvas');
    let width = canvas.clientWidth * 0.95;
    let height = canvas.clientHeight * 0.95;
    console.log(width);
    console.log(height);

    var g = new Dracula.Graph();

    g.addEdge("patient_0", "Ahmet", { directed : true });
    g.addEdge("patient_0", "Şaban",  { directed : true });
    g.addEdge("patient_0", "Mustafa",  { directed : true });

    var layouter = new Dracula.Layout.Spring(g);
    layouter.layout();

    var renderer = new Dracula.Renderer.Raphael(document.getElementById('canvas'), g, width, height);
    renderer.draw();

    redraw = function() {
                      layouter.layout();
                      renderer.draw();
                      };
  }
</script>