<canvas id="target-canvas"></canvas>

<script>
  var canvas = document.getElementById('target-canvas');
  var source = `
  [Pirate|eyeCount: Int|raid();pillage()|
    [beard]--[parrot]
    [beard]-:>[foul mouth]
  ]

  [<table>mischief | bawl | sing || yell | drink]

  [<abstract>Marauder]<:--[Pirate]
  [Pirate]- 0..7[mischief]
  [jollyness]->[Pirate]
  [jollyness]->[rum]
  [jollyness]->[singing]
  [Pirate]-> *[rum|tastiness: Int|swig()]
  [Pirate]->[singing]
  [singing]<->[rum]

  [<start>st]->[<state>plunder]
  [plunder]->[<choice>more loot]
  [more loot]->[st]
  [more loot] no ->[<end>e]

  [<actor>Sailor] - [<usecase>shiver me;timbers]
  `;
  nomnoml.draw(canvas, source);
</script>