/**
 * Reset some basic elements
 */
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

sup{
  padding: 1px 4px;
  background-color: var(--accent-color-light);
  border-radius: 3px;
  font-weight: bold;
  display: inline-block;
  vertical-align: baseline;
}

/**
 * Remove blue highlights on mobile
 */
input:focus,
select:focus,
textarea:focus,
[contenteditable] {
  outline: none;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-text-size-adjust: 100%;
  font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on, 'ss06' on, 'ss07' on;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.tag {
  font-size: 11px;
  color: var(--accent-color-dark);
  background: var(--accent-color-light);
  border-radius: 4px;
  margin: 0 0 0 12px;
  padding: 4px 8px 4px 8px;
  transition: 0.2s;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

a:visited.tag {
  color: var(--accent-color-dark);
  background: (255, 255, 255, 0.1);

}

.tag::before {
  content: " • ";
  position: absolute;
  color: var(--accent-color);
  padding-right: 33px;
  transform: translate(-50%, -5%);
}

.tag:hover,
a:visited.tag:hover {
  color: var(--accent-color);
  background-color: var(--accent-color-light);
}

.sub-title {
  font-family: $title-font-family;
  font-style: italic;
  font-weight: 300;
  @include relative-font-size(1.25);
  color: var(--text-color-light);
  padding-bottom: $spacing-unit/2;
}
/**
 * `main` element
 */
main {
  display: block;
  // Some padding to avoid sticky header issue.
  margin-top: 60px;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

@media screen and (max-width: $on-palm) {

main {
  margin-top: 20px;
  /* Lesser top margin on mobile */
}

}

/**
 * Images
 */
img {
  border-radius: 4px;
  width: 100%;
  vertical-align: middle;
  margin: $spacing-unit 0 $spacing-unit/2;
}

.post img {
  transition: 0.1s;
}

.post img:hover {
  margin-left: auto;
  margin-right: auto;
}
/**
 * Iframes (added by Gyan)
 */
iframe,
video {
  width: 100%;
  vertical-align: middle;
  margin: $spacing-unit 0 $spacing-unit/2;
}

time {
  display: inline;
}
/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}
/**
 * Lists
 */
ol,
ul {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}
/**
 * Links
 */
a {
  color: var(--accent-color);
  text-decoration: none;

  &:visited {
    color: var(--accent-color-dark);
  }

  &:hover {
    color: var(--accent-color-dark);
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}
/**
 * Blockquotes
 */
blockquote {
  color: var(--accent-color-dark);
  border-left: 4px solid $grey-color-light;
  padding: $spacing-unit/2 $spacing-unit;
  @include relative-font-size(1.125);
  border-left: 3px solid var(--accent-color);
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit !important;
  background-color: var(--accent-color-light);

  > :last-child {
    margin-bottom: 0;
  }
}

blockquote h5{
  margin-top: -6px;
}

/**
 * Code formatting
 */
code,
pre {
  @include relative-font-size(0.9375);
  border-radius: 3px;
  background-color: $text-color;
  color: var(--text-color-dark);
}

code {
  padding: 1px 5px;

}

pre {

  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
/**
 * Wrapper
 */
.wrapper {
  // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 4));
  // max-width:         calc(#{$content-width} - (#{$spacing-unit} * 4));
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit * 2;
  padding-left: $spacing-unit * 2;
  @extend %clearfix;
  @media screen and (min-width: $on-large) {
    // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    // max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    // max-width: 720px;
    padding-right: $spacing-unit * 4;
    padding-left: $spacing-unit * 4;
  }
}
/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/**
 * Icons
 */
.orange {
  color: $orange-color;
}

.red {
  color: $red-color;
}

.grey {
  color: $grey-color;
}

.svg-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 4px;
  fill: currentColor;
  padding: 8px 0 0 8px;
  vertical-align: text-bottom;
}
/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: var(--text-color);
  border-collapse: collapse;
  border: 1px solid var(--accent-color-light);

  tr {
    &:nth-child(even) {
      background-color: var(--accent-color-light);
    }
  }

  td,
  th {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }

  th {
    color: var(--background-color);
    background-color: var(--accent-color-dark);
    border: 1px solid var(--accent-color-light);
    border-bottom-color: darken($grey-color-light, 12%);
  }

  td {
    border: 1px solid var(--accent-color);
  }
}
