/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Remove blue highlights on mobile
 */
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height}
    $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.tag {
  font-size: 11px;
  color: $text-color-darker;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  margin: 0 0 0 12px;
  padding: 4px 8px 5px 8px;
  transition: 0.2s;
  font-weight: 600;
  text-transform: uppercase;
}

a:visited.tag {
  color: $text-color-darker;
  background: (255, 255, 255, 0.1);
}

.tag::before {
  content: " • ";
  position: absolute;
  color: white;
  padding-right: 35px;
  transform: translate(-50%, 40%);
}

.tag:hover,
a:visited.tag:hover {
  color: $brand-color;
  background-color: $brand-color-light;
}

.sub-title {
  color: $text-color-light;
  padding-bottom: $spacing-unit/2;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  border-radius: 4px;
  width: 100%;
  vertical-align: middle;
  margin: $spacing-unit 0 $spacing-unit/2 0;
}

.post img {
  transition: 0.1s;
}

.post img:hover {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Iframes (added by Gyan)
 */
iframe {
  max-width: 100%;
  vertical-align: middle;
}

time {
  display: inline;
}
/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: lighten($brand-color, 15%);
  }

  &:hover {
    color: darken($brand-color, 15%);
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */

.wrapper {
  // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 4));
  // max-width:         calc(#{$content-width} - (#{$spacing-unit} * 4));
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit * 2;
  padding-left: $spacing-unit * 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    // max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    // max-width: 720px;
    padding-right: $spacing-unit * 4;
    padding-left: $spacing-unit * 4;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */

.orange {
  color: $orange-color;
}

.red {
  color: $red-color;
}

.grey {
  color: $grey-color;
}

.svg-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 4px;
  fill: currentColor;
  padding: 8px 0 0 8px;
  vertical-align: text-bottom;
}

/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
