/**
 * Site header
 */
.site-header {
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  min-height: 76px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: -.5px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color;
  }
}

.site-nav {
  float: right;
  line-height: 76px;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: $base-font-size * 1.125;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: $base-font-size * 1.25;
}

.post-list {
  margin-left: 0;
  list-style: none;
  padding-top: $spacing-unit;

  .post-item {
    margin-bottom: $spacing-unit * 1.266;
    padding-bottom: $spacing-unit * 1.266;
    border-bottom: 1px solid $border-color;
  }

  .post-title {
    font-size: $base-font-size * 1.875;
    letter-spacing: -.5px;
    line-height: 1.3;
    margin-bottom: 0;

    a {
      color: $text-color;
    }
  }

  .post-excerpt {
    font-family: $reading-font-family;
    font-size: $base-font-size * 1.125;
    margin-top: $spacing-unit * 0.5;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
}



/**
 * Posts
 */
.page-post {
  .site-header {
    background-color: transparent;
  }

  .page-content {
    padding-top: 0;
  }
}
.post-header {
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;
  margin-bottom: $spacing-unit;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 900;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  font-family: $reading-font-family;
  font-size: $base-font-size * 1.375;

  h1, h2, h3, h4, h5, h6 {
    font-family: $base-font-family;
    font-weight: 900;
  }

  h1, h2, h3 { margin-top: $spacing-unit * 2; }

  h4, h5, h6 { margin-top: $spacing-unit; }

  h2 {
    font-size: $base-font-size * 2;

    @include media-query($on-laptop) {
      font-size: $base-font-size * 1.75;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
