/**
 * Site header
 */
.site-header {
  min-height: 60px;
  line-height: 60px;
  background: $foreground-color;
  // border-bottom: 1px solid darken($text-color-darker, 32%);
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  color: white;
  @include relative-font-size(1.25);
  font-weight: 800;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  float: left;
  vertical-align: middle;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: white;
  }
}

.site-nav {
  position: absolute;
  right: $spacing-unit / 2;
  background-color: $background-color;
  border-radius: 24px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $grey-color-dark;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: auto;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  // border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background: $foreground-color;
  color: $text-color-darker;
}

.footer-heading {
  color: white;
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);

  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width: calc(100% - (#{$spacing-unit} / 2));
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col {
    float: left;
  }
}

.intro {
  padding: 2 * $spacing-unit 0;
  flex-grow: 1;
}

.home {
  flex-grow: 1;
  max-width: 360px;
}

.home-flex-wrapper {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: $on-medium) {
  .home-flex-wrapper {
    display: flex;
    flex-direction: column;
  }

  .intro {
    max-width: none;
    padding: $spacing-unit/4 0 2 * $spacing-unit 0;
    flex-grow: none;
  }

  .home {
    flex-grow: 1;
    max-width: none;
  }
}

/**
 * Page content
 */
.page-content {
  background: $background-color;
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-weight: 600;
  font-size: 12px;
  color: $text-color-darker;
  margin: -4px 0 0 0;
}

.post-link {
  color: white !important;
  display: block;
  @include relative-font-size(1);
  line-height: 1.2;
}

.post-item {
  // background: white;
  display: flex;
  // margin: 0 $spacing-unit/2 $spacing-unit 0;
  padding: $spacing-unit/2 0;
  transition: 0.2s;
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  // border: 1px solid rgba(0,0,0,0.05);
  // border-bottom: 4px solid;
  // border-right: 4px solid;
  // border-color: #ddd;
}

.post-item-text {
  display: block;
  margin: 0;
}

.thumbnail {
  padding: 0;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin: 0 $spacing-unit 0 0;
  border: 1px solid rgba(100, 100, 100, 0.2) inset;
}

.post-item:hover {
  // box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15);
  // transform: translateY(-2px);
  // background: rgba(255, 255, 255, .05);
  // border: 1px solid $brand-color;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.social-media-list {
  display: table;
  margin: 0;
  li {
    float: left;
    margin: 0 5px;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 8px;
    }
    a {
      display: block;
      padding: 4px 0 0 4px;
    }
    &:hover .svg-icon {
      fill: $brand-color;
      background-color: $brand-color-light;
    }
  }
}

/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
