html {
  --background-color: #ffffff;
  --foreground-color: #000000;

  --text-color-dark: #000;
  --text-color: #555;
  --text-color-light: #999;

  --accent-color-dark: #000D87;
  --accent-color: #0016D8;
  --accent-color-light: rgb(0 22 216 / 10%);

  --overlay-color: rgba(255, 255, 255, .8);
  --overlay-edge-color: rgba(0, 0, 0, .08);
}

@media (prefers-color-scheme: dark) {
	html {
    --background-color: #0c0b1c;
    --foreground-color: rgba(0, 0, 0, 0.3);

    --text-color-dark: rgba(255, 255, 255, 1);
    --text-color: rgba(255, 255, 255, .85);
    --text-color-light: rgba(255, 255, 255, .7);

    --accent-color-dark: #b91d1d;
    --accent-color: #ff4343;
    --accent-color-light: #ff78781a;

    --overlay-color: rgba(0, 0, 0, .2);
    --overlay-edge-color: rgba(255, 255, 255, .2);

	}
}

.usercontainer{
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 36px;
  padding: 6px 20px 6px 6px;
}

.displaynone{
  display: none;
}

.username{
  padding-left: 12px;
}

.userphoto{
  width: 36px;
  height: 36px;
  margin: 0;;
  border-radius: 20px;
  border-radius: 36px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tabswitcher{
  display: flex;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: var(--overlay-color);
  border-top: 1px solid var(--overlay-edge-color);
  color: var(--text-color-light);
}

.tab{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.tab-img{
  height: 32px;
  width: 32px;
  align-self: center;
  margin-top: 12px;
}

.tab-img-inactive{
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  opacity: 50%;
}

.tab-text{
  font-weight: 600;
  font-size: 10px;
  text-align: center;
  color: var(--text-color-light);
}

.mobile-only {
  display: none;
}

@media screen and (max-width: $on-palm) {
  .mobile-only {
    display: flex;
  }

  .desktop-only {
    display: none;
  }
}
/**
 * Site header
 */
.site-header {
  position: fixed;
  right: 0;
  left: 0;
  min-height: 60px;
  line-height: 60px;
  background: var(--overlay-color);
  border-bottom: 1px solid var(--overlay-edge-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  // border-bottom: 1px solid darken($text-color-darker, 32%);
  // Positioning context for the mobile navigation icon
  z-index: 10;
}

@media screen and (max-width: $on-palm) {
  .site-header {
    position: relative;
  }
}

.site-title {
  color: var(--text-color-dark);
  @include relative-font-size(1.25);
  font-family: $title-font-family;  
  font-weight: 800;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  float: left;
  vertical-align: middle;
  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
  color: var(--text-color-dark);
  }
}

.site-nav {
  position: absolute;
  right: $spacing-unit / 2;
  background-color: var(--background-color);
  border-radius: 24px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: var(--accent-color-light);
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: var(--text-color);
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: auto;
    }
  }
}
/**
 * Site footer
 */
.site-footer {
  // border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background: var(--overlay-color);
  border-top: 1px solid var(--overlay-edge-color);
  color: var(--text-color-light);
}

.footer-heading {
  color: var(--text-color);
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width: calc(100% - (#{$spacing-unit} / 2));
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width: calc(100% - (#{$spacing-unit} / 2));
}
@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}
@media screen and (min-width: $on-medium) {
  .footer-col {
    float: left;
  }
}

.intro {
  padding: 2 * $spacing-unit 0;
  flex-grow: 1;
}

.home {
  flex-grow: 1;
  max-width: 360px;
}

.home-flex-wrapper {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: $on-medium) {
  .home-flex-wrapper {
    display: flex;
    flex-direction: column;
  }

  .intro {
    max-width: none;
    padding: $spacing-unit/4 0 2 * $spacing-unit 0;
    flex-grow: none;
  }

  .home {
    flex-grow: 1;
    max-width: none;
  }
}
/**
 * Page content
 */
.page-content {
  background: var(--background-color);
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-weight: 600;
  font-size: 12px;
  color: var(--accent-color);
  opacity: .75;
  margin: -4px 0 0;
}

.post-link {
  color: var(--text-color-dark) !important;
  display: block;
  @include relative-font-size(1);
}

.post-item {
  // background: white;
  display: flex;
  // margin: 0 $spacing-unit/2 $spacing-unit 0;
  padding: $spacing-unit/2 0;
  transition: 0.2s;
  border-radius: 4px;
  // border: 1px solid rgba(0,0,0,0.05);
  // border-bottom: 4px solid;
  // border-right: 4px solid;
  // border-color: #ddd;
}

.post-item-text {
  display: block;
  margin: 0;
}

.thumbnail {
  padding: 0;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin: 0 $spacing-unit 0 0;
  border: 1px solid rgba(100, 100, 100, 0.2) inset;
}

.post-item:hover {
  // box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15);
  // transform: translateY(-2px);
  // background: rgba(255, 255, 255, .05);
  // border: 1px solid $brand-color;
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.social-media-list {
  display: table;
  margin: 0;

  li {
    float: left;
    margin: 0 5px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 8px;
    }

    a {
      display: block;
      padding: 4px 0 0 4px;
    }

    .svg-icon {
      fill: var(--accent-color);
    }

    &:hover .svg-icon {
      fill: var(--accent-color);
      background-color: var(--accent-color-light);
    }
  }
}
/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
