//CSS for Pell stuff

.pell-button{
  width: 36px;
  height: 20px;
  border: 0px;
  background: none;
  border-right: 1px solid #eee;
  padding-right: 6px;
  padding-left: 6px;
  color: var(--text-color);
  font-size: 1.15em;
}

.pell-button:last-of-type {
  border-right: none;
}

.pell-actionbar{
  border: 1px solid #eee;
  width: fit-content;
  border-radius: 4px;
  padding: 5px 4px 4px 4px;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.05);
}

.hidden{
  opacity: 0;
  height: 0px;
}

// Counter style at-rule
@counter-style red-circle {
  system: cyclic;
  symbols: "\2B55"; // unicode code point
  suffix: " ";
}

// Counter style at-rule
@counter-style green-circle {
  system: cyclic;
  symbols: "\1F7E2"; // unicode code point
  suffix: " ";
}

li.todo{
  list-style-type: red-circle;
}

// li.todo::marker {
//   color: var(--text-color-light);
// }

li.todo.done{
  list-style-type: green-circle;
  text-decoration: line-through;
  opacity: .75;
}

// li.todo.done::marker{
//   color: green;
// }
