//CSS for Pell stuff

.pell-button{
  width: 36px;
  height: 20px;
  border: 0px;
  background: none;
  border-right: 1px solid #eee;
  padding-right: 6px;
  padding-left: 6px;
  color: var(--text-color);
  font-size: 1.2em;
}

.pell-button:last-of-type {
  border-right: none;
}

.pell-actionbar{
  border: 1px solid #eee;
  width: fit-content;
  border-radius: 4px;
  padding: 5px 4px 4px 4px;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.05);
}

.hidden{
  opacity: 0;
  height: 0px;
}
