//CSS for Pell stuff

.pell-button{
  width: 28px;
  height: 20px;
  border: 0px;
  background: none;
  border-right: 1px solid #eee;
  margin-right: 3px;
  margin-left: 3px;
}

.pell-button:last-of-type {
  border-right: none;
}

.pell-actionbar{
  border: 1px solid #eee;
  width: fit-content;
  border-radius: 4px;
  padding: 2px 4px 4px 4px;
}

.hidden{
  opacity: 0;
  display: none !important;
}
