//CSS for Pell stuff

.pell-button{
  width: 28px;
  height: 20px;
  border: 0px;
  background: none;
  border-right: 1px solid #eee;
  margin-right: 5px;
}

.pell-button:last-of-type {

}

.pell-actionbar{
  border: 1px solid #eee;
}

.hidden{
  opacity: 0;
  display: none !important;
}
