// Gyan's Typography

// s-alt for SF Pro

Headings h1,
h2,
h3,
h4,
h5 {
  font-family: $title-font-family;
  font-weight: $heading-font-weight;
  color: var(--text-color-dark);
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.2em;
}

h5 {
  color: var(--text-color);
  font-weight: $heading-font-weight;
  margin-bottom: $spacing-unit/2;
  text-transform: uppercase;
  letter-spacing: .02em;
  @include relative-font-size(0.9);
  @media screen and (min-width: $on-large) {
    @include relative-font-size(0.9);
  }
}

h5 a {
  transition: 0.1s;
  color: var(--accent-color);
}

h5 a:visited {
  color: var(--accent-color);
}

h5 a:hover {
  color: var(--accent-color-dark);
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
// h1, h2, h3, h4, h5, h6,
// p,
//   %vertical-rhythm {
//     margin-bottom: $spacing-unit/5;
// }
/**
  * Hanging lists
  */
.post-content li {
  transform: translateX(-$spacing-unit);
}

.post-content li::marker {
  margin: 50px;
  color: $bullet-color;
}

%vertical-rhythm,
blockquote,
dl,
figure,
li,
ol,
p,
pre,
ul {
  margin-bottom: $spacing-unit/2;
}

.post-content h1,
.post-title {
  font-family: $title-font-family;
  font-weight: $heading-font-weight;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  letter-spacing: 0 !important;
  @include relative-font-size(2.25);
  letter-spacing: -1px;
  line-height: 1;
  color: var(--text-color-dark);
  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.25);
  }
}

.post-content {

  padding-bottom: 6*$spacing-unit;

  a {
    border-bottom: 2px solid var(--background-color);
    transition: .2s;
  }

  a:hover{
      color: var(--accent-color);
      border-bottom: 2px solid var(--accent-color);
  }

  h2 {
    margin-top: 18px;
    @include relative-font-size(1.75);
    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    font-weight: $heading-font-weight;
    margin-bottom: 4px;
    margin-top: 20px;
    @include relative-font-size(1.375);
    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    font-weight: $heading-font-weight;
    margin-bottom: 4px;
    margin-top: 18px;
    @include relative-font-size(1.125);
    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.2);
    }
  }

  h6 {
    font-weight: $base-font-weight;
    margin-bottom: 2 * $spacing-unit;
    border-left: 3px solid var(--accent-color);
    padding-left: 8px;
    line-height: 1.6;
    color: var(--accent-color);
    @include relative-font-size(0.8);
    @media screen and (min-width: $on-large) {
      @include relative-font-size(0.9);

      strong{
        color: var(--text-color-dark);
      }
    }
  }
}
