// Placeholder to allow overriding predefined variables smoothly.

// Import custom fonts.
@import
  "minima/custom-fonts"; // Hook to override predefined variables.

$base-font-family: "Passenger Sans";

$on-desktop:    1000px;
$on-xLarge:     $on-desktop;

$link-base-color:              $text-color;
$link-visited-color:           lighten($link-base-color, 50%);
$link-hover-color:             $background-color;
$link-hover-background-color:  $text-color;