---
layout: page
---

{{ content }}

{%- for category in site.categories -%}
  {%- assign category_name = category[0] -%}
  {%- assign posts = category[1] -%}
  {%- if category_name == page.category -%}
    <ul class="post-list">
      {%- for post in posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
        </li>
        {%- endfor -%}
    </ul>
  {%- endif -%}
{%- endfor -%}
