---
layout: page
---

{{ content }}

{%- assign max_count = 0 -%}
{%- for category in site.categories -%}
  {%- assign posts = category[1] -%}
  {%- if posts.size > max_count -%}
    {%- assign max_count = posts.size -%}
  {%- endif -%}
{%- endfor -%}

<ul class="site-categories">
  {%- for i in (1..max_count) reversed -%}
    {%- for category in site.categories -%}
      {%- assign category_name = category[0] -%}
      {%- assign posts = category[1] -%}
      {%- if posts.size == i -%}
        <li>
          {% capture category_url %}/categories/{{ category_name | slugify }}/{% endcapture %}
          <a href="{{ category_url | relative_url }}">{{ category_name }}</a> <small>{{ posts.size }}</small>
        </li>
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
</ul>
