---
layout: cymdefault
---

<h2>Sut allwn ni helpu?</h2>

<div class="w3-container">
    <a href="/mewn-prawf"><div class="jblock w3-blue w3-quarter">
      <h3>Prawf am STDs</h3>
      <p>Heintiau'n cael eu trosglwyddo trwy ryw.</p>
    </div></a>
      <a href="/gwrthgenhedliad"><div class="jblock w3-green w3-quarter">
      <h3>Gwrthgenhedliad</h3>
      <p>Helpwch i osgoi beichiogi.</p>
    </div></a>
    <a href="/lgbt-cym"><div class="jblock w3-amber w3-quarter">
        <h3>Hoyw, Bi neu Draws *</h3>
        <p>Defnyddiwch unrhyw un o'n gwasanaethau neu dewch i glinig arbenigol.</p>
      </div></a>
      <a href="/gofal-HIV"><div class="jblock w3-red w3-quarter">
      <h3>Gofal HIV</h3>
        <p>Gwasanaethau i Bobl sydd â HIV.</p>
    </div></a>
</div>
<hr>
{{ content }}