---
layout: default
---

<h2>How can we help?</h2>

<div class="w3-container">
    <a href="/sti-tests"><div class="jblock w3-blue w3-quarter">
      <h3>Test for STI's</h3>
      <p>Infections passed on through sex.</p>
    </div></a>
      <a href="/contraception"><div class="jblock w3-green w3-quarter">
      <h3>Contraception</h3>
      <p>Help to avoid becoming pregnant.</p>
    </div></a>
    <a href="/lgbt"><div class="jblock w3-amber w3-quarter">
        <h3>Gay, Bi or Trans*</h3>
        <p>Use any of our services or come to a specialist clinic.</p>
      </div></a>
      <a href="/hiv-care"><div class="jblock w3-red w3-quarter">
      <h3>HIV Care</h3>
        <p>Services for People who have HIV.</p>
    </div></a>
</div>
<hr>
{{ content }}