---

layout: default

---

<div class="intro">
  <h5>What am I doing these days?</h5>
  <ul>
    <li>💼 Designing Voice experiences at Microsoft</li>
    <li>🇫🇷 Learning French on Duolingo</li>
    <li>📓 Writing every day — I'm maintaining a journal on paper</li>
    <li>📚 Reading Tiny Habits</li>
    <li>🎷 Listening to a lot of Jazz</li>
    <li>🏃🏽‍♂️ Running</li>
    <li>📈 Learning about personal finance</li>
    <li>💻 Slowly adding older projects to my website</li>
  </ul>
</div>


<div class="intro">
  <h5>What is this page?</h5>
  <p>
    This is my /now page. It talks about what I've been up to recently. See more about now pages <a href="https://nownownow.com/about">here.</a>
  </p>
</div>
