---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header"></header>   
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <h3>{{ page.subtitle | escape }}</h3>
    <p class="post-meta">
      <span>
        Posted on {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: date_format }}
        </time>
      </span><br/>
      <span>
      {%- if page.city -%}
        {% for city in page.city %}
          <span itemprop="place" itemscope itemtype="http://schema.org/City">
            <span class="p-location h-card" itemprop="city">{{ city }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
      <!--{%- if page.author -%}
        &nbsp;• {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}-->
      {%- endif -%}
      </span><br/>
      <span class="reading-time" title="Estimated read time">
        {% assign words = include.content | strip_html | number_of_words %}
        {{ words | divided_by: 150 | plus: 1 }} min read
      </span></br>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
