---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post__slider"> <!-- Start Project Slider container -->
    <div class="slider__container w3-content w3-display-container">
      <div class="slider__slides"> <!-- slider images go here -->
      <div class="slider__nav w3-container w3-xxxlarge w3-display-middle w3-text-gray">
        <button class="w3-btn w3-left w3-hover-text-light-gray w3-border-0 w3-hover-none" onclick="plusDivs(-1)">❮</button>
        <button class="w3-btn w3-right w3-hover-text-light-gray w3-border-0 w3-hover-none" onclick="plusDivs(1)">❯</button>
      </div>
      <div class="slider__pagination w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle"><!-- slider pagination rings (put as many as images)-->
        <!--<span class="w3-badge w3-border w3-transparent w3-hover-white navRing" onclick="currentDiv(1)"></span>-->
      </div>
    </div>
  </div> <!-- End Project Slider container -->

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
