---
layout: page
---

{{ content }}

{%- for tag in site.tags -%}
  {%- assign tag_name = tag[0] -%}
  {%- assign posts = tag[1] -%}
  {%- if tag_name == page.tag -%}
    <ul class="post-list">
      {%- for post in posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
        </li>
        {%- endfor -%}
    </ul>
  {%- endif -%}
{%- endfor -%}
