---
layout: default
---
<div class="post">
<h2 class="post-list-heading">{{ page.title }}</h2>
<p class="tag-description">{{ page.description }}</p>
<ul class="post-list">
{% for post in site.tags[page.tag] %}
<li class="post-item">
  <h3>
    <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
  </h3>
  {%- if site.show_excerpts -%}
    {{ post.excerpt }}
  {%- endif -%}

  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <span class="post-meta">{{ post.date | date: date_format }}</span>

  {% for tag in post.tags %}
   <a class="tag" href="/tag/{{ tag | slugify }}">{{ tag }}</a>
 {% endfor %}
</li>
{% endfor %}
</ul>
</div>
