@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('cmunorm.eot');
	src: url('cmunorm.eot?#iefix') format('embedded-opentype'),
		 url('cmunorm.woff') format('woff'),
		 url('cmunorm.ttf') format('truetype'),
		 url('cmunorm.svg#cmunorm') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('cmunobx.eot');
	src: url('cmunobx.eot?#iefix') format('embedded-opentype'),
		 url('cmunobx.woff') format('woff'),
		 url('cmunobx.ttf') format('truetype'),
		 url('cmunobx.svg#cmunobx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('cmunoti.eot');
	src: url('cmunoti.eot?#iefix') format('embedded-opentype'),
		 url('cmunoti.woff') format('woff'),
		 url('cmunoti.ttf') format('truetype'),
		 url('cmunoti.svg#cmunoti') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('cmunobi.eot');
	src: url('cmunobi.eot?#iefix') format('embedded-opentype'),
		 url('cmunobi.woff') format('woff'),
		 url('cmunobi.ttf') format('truetype'),
		 url('cmunobi.svg#cmunobi') format('svg');
	font-weight: bold;
	font-style: italic;
}
