@charset "utf-8";

// Solarized skin
// ==============
// Created by Sander Voerman <mailto:sander@savoerman.nl> using the Solarized
// color scheme by Ethan Schoonover <https://ethanschoonover.com/solarized>.

// This style sheet implements three options for the minima.skin setting:
// "solarized-light" for light mode, "solarized-dark" for dark mode, and
// "solarized" for light or dark mode depending on user preference.
$sol-is-auto: true !default;
$sol-is-dark: false !default;


// Color scheme
// ------------
// The inline comments show the canonical L*a*b values for each color.
//
// Some colors were altered from the canonical scheme to comply with
// WCAG-contrast criteria between foreground and background colors.

$sol-base03:   #002b36;  // 15 -12 -12
$sol-base02:   #073642;  // 20 -12 -12
$sol-base01:   #586e75;  // 45 -07 -07
$sol-base00:   #4e626a;  // original hex: #657b83 ; L*a*b: 50 -07 -07
$sol-base0:    #91a0a1;  // original hex: #839496 ; L*a*b: 60 -06 -03
$sol-base1:    #93a1a1;  // 65 -05 -02
$sol-base2:    #eee8d5;  // 92 -00  10
$sol-base3:    #fdf6e3;  // 97  00  10
$sol-yellow:   #b58900;  // 60  10  65
$sol-orange:   #cb4b16;  // 50  50  55
$sol-red:      #dc322f;  // 50  65  45
$sol-magenta:  #d33682;  // 50  65 -05
$sol-violet:   #6c71c4;  // 50  15 -45
$sol-blue:     #268bd2;  // 55 -10 -45
$sol-cyan:     #2aa198;  // 60 -35 -05
$sol-green:    #859900;  // 60 -20  65

// Non-canonical; Derived to comply with WCAG-contrast criterion.
$sol-light-blue:   #469edd;
$sol-light-blue2:  #64a5ce;
$sol-dark-blue:    #2072ac;
$sol-dark-blue2:   #376a8b;

// Mixed colors
// ------------
// While not part of the original Solarized base tones, these derived tones
// are meant to replicate the visual style of the classic skin. They should
// not be used in cases where sufficiently contrasting colors are needed.

$sol-light-mix1:  mix($sol-base1, $sol-base3);
$sol-light-mix2:  mix($sol-blue, $sol-base00);
$sol-light-mix3:  mix($sol-base2, $sol-base3);
$sol-light-mix4:  #e8e3d4; // custom mixture of `$sol-base1` and `$sol-base3`.
$sol-dark-mix1:   mix($sol-base01, $sol-base03);
$sol-dark-mix2:   mix($sol-blue, $sol-base0);
$sol-dark-mix3:   mix($sol-base02, $sol-base03);
$sol-dark-mix4:   #193843; // custom mixture of `$sol-base01` and `$sol-base03`.

// Mode selection
// --------------

$sol-mono3:    $sol-base3;
$sol-mono2:    $sol-base2;
$sol-mono1:    $sol-base1;
$sol-mono00:   $sol-base00;
$sol-mono01:   $sol-base01;
$sol-mix1:     $sol-light-mix1;
$sol-mix2:     $sol-light-mix2;
$sol-mix3:     $sol-light-mix3;
$sol-mix4:     $sol-light-mix4;

$sol-mono1-dimmed: darken($sol-base1, 20%);
$sol-link-color:   $sol-dark-blue;
$sol-link-visited: $sol-dark-blue2;

$sol-mark-line-bgcolor: #ffffcc;

@if $sol-is-dark {
  $sol-mono3:  $sol-base03;
  $sol-mono2:  $sol-base02;
  $sol-mono1:  $sol-base01;
  $sol-mono00: $sol-base0;
  $sol-mono01: $sol-base1;
  $sol-mix1:   $sol-dark-mix1;
  $sol-mix2:   $sol-dark-mix2;
  $sol-mix3:   $sol-dark-mix3;
  $sol-mix4:   $sol-dark-mix4;

  $sol-mono1-dimmed: lighten($sol-base01, 16%);
  $sol-link-color:   $sol-light-blue;
  $sol-link-visited: $sol-light-blue2;

  $sol-mark-line-bgcolor: #164145;
}

@if $sol-is-auto {
  :root {
    --solarized-mono3:  #{$sol-base3};
    --solarized-mono2:  #{$sol-base2};
    --solarized-mono1:  #{$sol-base1};
    --solarized-mono00: #{$sol-base00};
    --solarized-mono01: #{$sol-base01};
    --solarized-mix1:   #{$sol-light-mix1};
    --solarized-mix2:   #{$sol-light-mix2};
    --solarized-mix3:   #{$sol-light-mix3};
    --solarized-mix4:   #{$sol-light-mix4};

    --solarized-mono1-dimmed: #{darken($sol-base1, 20%)};
    --solarized-link-color:   #{$sol-dark-blue};
    --solarized-link-visited: #{$sol-dark-blue2};

    --solarized-mark-line-bg-color: #ffffcc;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --solarized-mono3:  #{$sol-base03};
      --solarized-mono2:  #{$sol-base02};
      --solarized-mono1:  #{$sol-base01};
      --solarized-mono00: #{$sol-base0};
      --solarized-mono01: #{$sol-base1};
      --solarized-mix1:   #{$sol-dark-mix1};
      --solarized-mix2:   #{$sol-dark-mix2};
      --solarized-mix3:   #{$sol-dark-mix3};
      --solarized-mix4:   #{$sol-dark-mix4};

      --solarized-mono1-dimmed: #{lighten($sol-base01, 16%)};
      --solarized-link-color:   #{$sol-light-blue};
      --solarized-link-visited: #{$sol-light-blue2};

      --solarized-mark-line-bg-color: #164145;
    }
  }

  $sol-mono3:  var(--solarized-mono3);
  $sol-mono2:  var(--solarized-mono2);
  $sol-mono1:  var(--solarized-mono1);
  $sol-mono00: var(--solarized-mono00);
  $sol-mono01: var(--solarized-mono01);
  $sol-mix1:   var(--solarized-mix1);
  $sol-mix2:   var(--solarized-mix2);
  $sol-mix3:   var(--solarized-mix3);
  $sol-mix4:   var(--solarized-mix4);

  $sol-mono1-dimmed: var(--solarized-mono1-dimmed);
  $sol-link-color:   var(--solarized-link-color);
  $sol-link-visited: var(--solarized-link-visited);

  $sol-mark-line-bgcolor: var(--solarized-mark-line-bg-color);
}


// Minima color variables
// ----------------------

$brand-color:           $sol-mono1 !default;
$brand-color-light:     $sol-mix4 !default;
$brand-color-dimmed:    $sol-mono1-dimmed !default;
$brand-color-dark:      $sol-mono00 !default;

$site-title-color:      $sol-mono00 !default;

$heading-color:         $sol-mono01 !default;
$text-color:            $sol-mono00 !default;
$background-color:      $sol-mono3 !default;
$code-background-color: $sol-mix3 !default;

$link-base-color:       $sol-link-color !default;
$link-visited-color:    $sol-link-visited !default;
$link-hover-color:      $sol-mono00 !default;

$border-color-01:       $brand-color-light !default;
$border-color-02:       $sol-mono1 !default;
$border-color-03:       $sol-mono00 !default;

$table-text-color:      $sol-mono00 !default;
$table-zebra-color:     $sol-mix3 !default;
$table-header-bg-color: $sol-mono2 !default;
$table-header-border:   $sol-mix1 !default;
$table-border-color:    $sol-mix1 !default;


// Syntax highlighting styles
// --------------------------

.highlight {
  .err   { color: #fefeec; background-color: $sol-red } // Error

  .c     { color: $sol-mono1 } // Comment
  .c1    { color: $sol-mono1 } // Comment.Single
  .cm    { color: $sol-mono1 } // Comment.Multiline
  .cp    { color: $sol-mono1 } // Comment.Preproc
  .cs    { color: $sol-mono1; font-style: italic } // Comment.Special

  .gd    { color: $sol-red } // Generic.Deleted
  .gd .x { color: $sol-red } // Generic.Deleted.Specific
  .ge    { color: $sol-mono00; font-style: italic } // Generic.Emph
  .gh    { color: $sol-mono1 } // Generic.Heading
  .gi    { color: $sol-green } // Generic.Inserted
  .gi .x { color: $sol-green } // Generic.Inserted.Specific
  .go    { color: $sol-mono00 } // Generic.Output
  .gp    { color: $sol-mono00 } // Generic.Prompt
  .gr    { color: $sol-red } // Generic.Error
  .gs    { color: $sol-mono01; font-weight: bold } // Generic.Strong
  .gt    { color: $sol-red } // Generic.Traceback
  .gu    { color: $sol-mono1 } // Generic.Subheading

  .k     { color: $sol-orange } // Keyword
  .kc    { color: $sol-orange } // Keyword.Constant
  .kd    { color: $sol-orange } // Keyword.Declaration
  .kp    { color: $sol-orange } // Keyword.Pseudo
  .kr    { color: $sol-orange } // Keyword.Reserved
  .kt    { color: $sol-violet } // Keyword.Type

  .na    { color: $sol-cyan } // Name.Attribute
  .nb    { color: $sol-orange } // Name.Builtin
  .bp    { color: $sol-blue } // Name.Builtin.Pseudo
  .nc    { color: $sol-violet } // Name.Class
  .ne    { color: $sol-violet } // Name.Exception
  .nf    { color: $sol-blue } // Name.Function
  .ni    { color: $sol-violet } // Name.Entity
  .nn    { color: $sol-violet } // Name.Namespace
  .no    { color: $sol-violet } // Name.Constant
  .nt    { color: $sol-orange } // Name.Tag
  .nv    { color: $sol-cyan } // Name.Variable
  .vc    { color: $sol-cyan } // Name.Variable.Class
  .vg    { color: $sol-cyan } // Name.Variable.Global
  .vi    { color: $sol-cyan } // Name.Variable.Instance

  .o     { color: $sol-green } // Operator
  .ow    { color: $sol-green } // Operator.Word

  .m     { color: $sol-violet } // Literal.Number
  .mf    { color: $sol-violet } // Literal.Number.Float
  .mh    { color: $sol-violet } // Literal.Number.Hex
  .mi    { color: $sol-violet } // Literal.Number.Integer
  .il    { color: $sol-violet } // Literal.Number.Integer.Long
  .mo    { color: $sol-violet } // Literal.Number.Oct

  .s     { color: $sol-magenta } // Literal.String
  .s1    { color: $sol-magenta } // Literal.String.Single
  .s2    { color: $sol-magenta } // Literal.String.Double
  .sb    { color: $sol-magenta } // Literal.String.Backtick
  .sc    { color: $sol-magenta } // Literal.String.Char
  .sd    { color: $sol-magenta } // Literal.String.Doc
  .se    { color: $sol-magenta } // Literal.String.Escape
  .sh    { color: $sol-magenta } // Literal.String.Heredoc
  .si    { color: $sol-magenta } // Literal.String.Interpol
  .sr    { color: $sol-green } // Literal.String.Regex
  .ss    { color: $sol-magenta } // Literal.String.Symbol
  .sx    { color: $sol-magenta } // Literal.String.Other

  .w     { color: $sol-mono1 } // Text.Whitespace

  .lineno, .gl { color: $sol-mono1 } // Line Number
  .hll   { background-color: $sol-mark-line-bgcolor } // Marked-lines
}
